<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AdvancedFrameworkSeleniumJava_newSite" thread-count="4" parallel="tests" verbose="4" preserve-order="true">

   <test name="LoginTestsFirst">
        <!-- 	  <groups>
                <run>
                    <include name="Sanity" />
                </run>
            </groups> -->

          <classes>
               <class name="com.mycom.aut.application.ApplicationTest1"/>
           </classes>
    </test>
   <test name="SignUpTests">
            <classes>
                 <class name="com.mycom.aut.application.ApplicationTest2"/>
            </classes>
    </test>
    <test name="LoginTestsThird">
            <classes>
             <class name="com.mycom.aut.application.ApplicationTest3"/>
            </classes>
    </test>
    <test name="LoginTestsFourth">
            <classes>
              <class name="com.mycom.aut.application.ApplicationTest4"/>
            </classes>
    </test>
</suite>