<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AdvancedFrameworkSeleniumJava_newSite" verbose = "10" preserve-order="true">
<!-- thread-count="2" parallel="tests" -->
   <test name="Test1">
        <!-- 	  <groups>
                <run>
                    <include name="Sanity" />
                </run>
            </groups> -->

          <classes>
               <class name="com.mycom.aut.application.ApplicationTest1"/>
           </classes>
              
    </test>
   <test name="Test2">
            <classes>
                 <class name="com.mycom.aut.application.ApplicationTest2"/>
            </classes>
    </test>
    <test name="LoginTestsThird">
            <classes>
             <class name="com.mycom.aut.application.ApplicationTest3"/>
            </classes>
    </test>
    <test name="LoginTestsFourth">
            <classes>
              <class name="com.mycom.aut.application.ApplicationTest4"/>
            </classes>
    </test>
</suite>